%flex-row-centers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%flex-column-centers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%bgc-cover-norepeat {
  background-size: cover;
  background-repeat: no-repeat;
}
